Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1) R
2) Python
3) SQL
4) JAVA
5) MATPLOT

Some of the commonly used libraries used by Data Scientists include:
1) Pandas
2) Numpy
3) ggplot2
4) caret

Data Science Tools
1) Jupyter Notebook
2) RStudio
3) Google Colab

In [11]:
# Below are a few examples of evaluating arithmetic expressions in Python
# Addition
result = 5 + 3  
print(result) 
# Subtraction
result = 10 - 4  
print(result)  

# Multiplication
result = 6 * 7  
print(result)

8
6
42

In [12]:
# This is a simple arithmetic expression to multiply and then add integers 
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60 
print(hours)

3.3333333333333335

Objectives

* List popular languages for data science
* Data Science Tools and Ecosystem
* Commonly used libraries used by Data Scientists

## Author 
Silpa Ramachandran